:root{
    --system_primary_color: #64BEFF;
    --system-white: #FFFFFF;
    --system-success: #3BDEE9;
    --system-secondary-color-10: rgba(206, 234, 255, 0.59);
    --system-secondary-color-20: rgba(206, 234, 255, 0.7);
    --text-color: #777777;
    --system-gray: #D6D6D6;
    --neutral-10: #F0F0F0;
    --backkground-color: #EDF8FF

}

body {
    overflow-y: auto;
}

.navbar{
    background-color: var(--system_primary_color);
    color: var(--system-white);
    font-weight: bold;

}

.datetime-indicator {
    font-size: 18px;
    margin-right: 15px
}


.screen_left{
    flex: 0 0 640px;

}

.screen_right{
    flex: 0 0 65%;
    margin-left: 1rem;

}

img{
    width: 50px;
    height: 50px;
    object-fit: cover;
}


.custom-box {
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    padding: 20px;
    margin-bottom: 15px;
}

svg{
    fill: var(--system-white)
}

h1, h2, h3{
    color: var(--system_primary_color);
    font-weight: 600;
}

.scrollableContainer{
    max-height: 440px;
    overflow-y: auto;

}

.search-group{
    white-space: nowrap;
    justify-content: space-between;
}

.input-group{
    width: 250px;
}

.form-control{
    height: 30px;

}

.searchBtn{
    height: 30px;
    border-radius: .5rem;
    background-color: var(--system_primary_color);
    fill: var(--system-white);
    border: none;
    z-index: 2;
    padding-left: 10px;
    transition: all .3s ease;

}

.searchBtn:hover{
    opacity: .6;
}



th, td{
    padding: 10px;
    color: var(--text-color);
}

table {
    border-collapse: separate;
    border-spacing: 5px 10px; /* Adjust the second value to set the vertical spacing */
}

.cart-middle{
    height: 380px;
}

p{
    margin-bottom:.2rem;
}




.btn-success{
    background-color: var(--system-success) !important;
    border: var(--system-success) !important;
}


.btn-primary{
    background-color: var(--system_primary_color);
    border: var(--system_primary_color);
}

.new-customer{
    background-color: var(--system-secondary-color-10);
    border-radius: 1.5rem;
    padding: .3rem;
    color: var(--text-color);
    font-weight: 600;
    font-size: 16px;
    width: 186px;

}

.new-customer svg{
    fill: var(--text-color);
    margin-left: 6px;
}

.total{
    border-radius: .5rem;
    border: 3px solid var(--system_primary_color);
    padding: .5rem 1rem;
    font-size: 20px;
    font-weight: bold;
    color:var(--system_primary_color);
    background-color: var(--system-secondary-color-10) ;
}



.total > p{
    margin: 0;
}

.cancelBtn, .holdBtn, .paymentBtn{
    padding: 1rem;
    width: 180px;
    border: none;
    border-radius: .5rem;
    font-weight: 600;
}

.cancelBtn, .holdBtn{
    color: var(--text-color);
}

.cancelBtn{
    background-color: var(--system-gray);
    transition: all .1s linear;
}
.cancelBtn:hover{
    background-color: var(--neutral-10);
}

.cancelBtn > span > svg{
    fill: var(--text-color);
}
.holdBtn > span > svg{
    fill: var(--text-color);
}

.holdBtn{
    background-color: var(--neutral-10);
    transition: all .1s linear;

}

.holdBtn:hover{
    background-color: var(--system-gray);
}

.paymentBtn{
    background-color: var(--system_primary_color);
    color: var(--system-white);
    transition: all .1s linear;
}

.paymentBtn:hover{
    background-color: #0d6efd;
}



.count{
    font-size: 14px;
}

::-webkit-scrollbar {
    width: 15px;

}

/* Track */
::-webkit-scrollbar-track {
    box-shadow:  inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--system_primary_color);
    border-radius: 10px;
}

.popup-form {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 15px;
}

.button-group {
    display: flex;
    justify-content: space-between;
}

.close-btn,
.submit-btn {
    width: 100%;
    cursor: pointer;
}

.form-container{
    visibility: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form-customer-container{
    visibility: hidden;
    position: absolute;
    z-index: 999999;
}

.show{
    visibility: visible;
}

.credit-btn:focus{
    background-color: var(--system_primary_color);
}

.cash-btn:focus{
    background-color: var(--system_primary_color);
}


.total_due_value{
    color: var(--system_primary_color);
}

.cont{
    border: 1px solid rgba(0, 0, 0, 0.3);
    position: relative;
    min-height: 100vh; /* Set a minimum height to fill the viewport */
}
.ads_area{
    padding: 3rem;
    background-color: var(--system_primary_color);
}

table {
    border-collapse: collapse;
    width: 100%;
}

tr {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}



.prices-totals {
    position: absolute; /* Set position to absolute */
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f8f8f8;
    padding: 10px;
}

.btn-primary{
    background-color: var(--system_primary_color) !important;
    border: 1px solid var(--system_primary_color) !important;
}

.btn-primary:hover{
    background-color: #0d6efd !important;
}

.new-customer{
    background-color: var(--system-secondary-color-10);
    border-radius: 1.5rem;
    color: var(--text-color);
    font-weight: 600;
    font-size: 16px;

}

.new-customer svg{
    fill: var(--text-color);
    margin-left: 6px;
}

.total{
    border-radius: .5rem;
    border: 3px solid var(--system_primary_color);
    padding: .5rem 1rem;
    font-size: 20px;
    font-weight: bold;
    color:var(--system_primary_color);
    background-color: var(--system-secondary-color-10) ;
}

.total > p{
    margin: 0;
}

.cancelBtn, .holdBtn, .paymentBtn{
    padding: 1rem;
    width: 180px;
    border: none;
    border-radius: .5rem;
    font-weight: 600;
}

.cancelBtn, .holdBtn{
    color: var(--text-color);
}

.cancelBtn{
    background-color: var(--system-gray);
    transition: all .1s linear;
}
.cancelBtn:hover{
    background-color: var(--neutral-10);
}

.cancelBtn > span > svg{
    fill: var(--text-color);
}
.holdBtn > span > svg{
    fill: var(--text-color);
}

.holdBtn{
    background-color: var(--neutral-10);
    transition: all .1s linear;

}

.holdBtn:hover{
    background-color: var(--system-gray);
}

.paymentBtn{
    background-color: var(--system_primary_color);
    color: var(--system-white);
    transition: all .1s linear;
}

.paymentBtn:hover{
    background-color: #0d6efd;
}



.count{
    font-size: 14px;
}

::-webkit-scrollbar {
    width: 15px;

}

/* Track */
::-webkit-scrollbar-track {
    box-shadow:  inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--system_primary_color);
    border-radius: 10px;
}


.popup{
    width: 30%;
    height: 30%;
    background: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 30px 30px;
    color: #333;
    transition: transform 0.4s, top 0.4s;
}

#popup{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.overlay{
    position: absolute;
    top: 0;
    left: 50%;
    width: 150%;
    height: 150%;
    background-color: #00bb00;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    transform: translate(-50%, -50%) scale(0.1);
    z-index: 9999;
}

.glass{
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
}

.open-overlay{
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}

.form-group .col-sm-8 input{
    border-radius: 1rem;
    height: 30px;
    background-color: var(--system_primary_color);
    color: var(--system-white);
}

.form-group .col-sm-8 input::placeholder{
    color: var(--system-white);
}
